## What is SQL?
- **SQL stands for Structured Query Language**
- **SQL lets you access and manipulate databases**

### What Can SQL do?
- SQL can execute queries against a database
- SQL can retrieve data from a database
- SQL can insert records in a database
- SQL can update records in a database
- SQL can delete records from a database
- SQL can create new databases
- SQL can create new tables in a database
- SQL can create stored procedures in a database
- SQL can create views in a database
- SQL can set permissions on tables, procedures, and views

**SQL is a Standard - BUT there are different versions of the SQL language.**

- SQLite
- MySQL
- PostgreSQL
- mSQL
- Microsoft SQL Server 2000

### We will be using SQLite because it is very Light and easy to interoperate with Python

**How to Connect**

In [156]:
import pandas as pd

In [157]:
import sqlite3
conn = sqlite3.connect('../example.db')

In [158]:
#Creating a cursor object using the cursor() method
#Cursor class is an instance using which you can invoke methods that execute SQLite statements
cursor = conn.cursor()

In [159]:
#Droping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")



#Creating table as per requirement
sql ='''CREATE TABLE EMPLOYEE(
         FIRST_NAME CHAR(20) NOT NULL,
         LAST_NAME CHAR(20),
         AGE INT,
         SEX CHAR(6),
         INCOME FLOAT,
         BIO VARCHAR(50)
         )
    '''
cursor.execute(sql)
print("Table created successfully........")
# Commit your changes in the database
conn.commit()
#Closing the connection
#conn.close()

Table created successfully........

In [160]:
### There are other relevant commands you can add when creating a table
# Find them out

### Insert Data

In [161]:
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,
 INCOME, BIO) VALUES ('Ramya', 'Rama Priya', 27, 'F', 9000, 'I like what I do')''')

# Commit your changes in the database
conn.commit()

In [162]:
# watch out for this successful execution without lastname
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, AGE, SEX,
 INCOME, BIO) VALUES ('Vinay', 20, 'M', 6000, 'I am ajanlekoko')''')

cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,
 INCOME, BIO) VALUES ('Sharukh', 'Sheik', 25, 'M', 8300, 'I am a good man')''')

cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME,LAST_NAME,  AGE, SEX,
 INCOME, BIO) VALUES ('Kolapo', 'Joshua',40, 'M', 7000, 'I am a singer')''')

# Commit your changes in the database
conn.commit()

In [163]:
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,
 INCOME, BIO) VALUES ('Sarmista', 'Sharma', 26, 'F', 10000, 'I was made in the moon')''')

cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,
 INCOME, BIO) VALUES ( 'Vandamm', 'Mishra', 24, 'F', 6000, 'I had 2 wives')''')

# Commit your changes in the database
conn.commit()

### Select Data

In [164]:
# SELECT column1, column2, columnN FROM table_name;

#Retrieving data
cursor.execute("SELECT * from EMPLOYEE").fetchall()

[('Ramya', 'Rama Priya', 27, 'F', 9000.0, 'I like what I do'),
 ('Vinay', None, 20, 'M', 6000.0, 'I am ajanlekoko'),
 ('Sharukh', 'Sheik', 25, 'M', 8300.0, 'I am a good man'),
 ('Kolapo', 'Joshua', 40, 'M', 7000.0, 'I am a singer'),
 ('Sarmista', 'Sharma', 26, 'F', 10000.0, 'I was made in the moon'),
 ('Vandamm', 'Mishra', 24, 'F', 6000.0, 'I had 2 wives')]

In [165]:
#Fetching all rows from the table
result2 = cursor.fetchall()
print(result2)
#Commit your changes in the database
conn.commit()
#Closing the connection
# conn.close()

[]

In [166]:
#Fetching 1st row from the table
result1 = cursor.fetchone()
print(result1)
#Commit your changes in the database
conn.commit()

None

In [167]:
#Retrieving data
cursor.execute('''SELECT FIRST_NAME, LAST_NAME from EMPLOYEE''')
result3 = cursor.fetchall();
print(result3)
conn.commit()

[('Ramya', 'Rama Priya'), ('Vinay', None), ('Sharukh', 'Sheik'), ('Kolapo', 'Joshua'), ('Sarmista', 'Sharma'), ('Vandamm', 'Mishra')]

### Other Important key functions

**AVG, MIN, MAX, COUNT, SUM**

In [168]:
#Retrieving data
cursor.execute('''SELECT COUNT(INCOME) from EMPLOYEE''')
result4 = cursor.fetchall();
print(result4)
conn.commit()

[(6,)]

In [169]:
# Distinct
cursor.execute('''SELECT DISTINCT(SEX) from EMPLOYEE''')
result4 = cursor.fetchall();
print(result4)
conn.commit()

[('F',), ('M',)]

In [170]:
conn.close()