In [1]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

### SELECT with WHERE clause

In [2]:
sql = '''
    SELECT * FROM EMPLOYEE
    WHERE SEX = 'M'
'''

In [3]:
cursor.execute(sql)
conn.commit()

result1 = cursor.fetchall()
print(result1)

[('Vinay', None, 20, 'M', 6000.0, 'I am ajanlekoko'), ('Sharukh', 'Sheik', 25, 'M', 8300.0, 'I am a good man')]

In [4]:
sql2 = '''
    SELECT BIO FROM EMPLOYEE
    WHERE AGE < 25
'''

In [5]:
cursor.execute(sql2)
conn.commit()

result2 = cursor.fetchall()
print(result2)

[('I am ajanlekoko',)]

### ORDERBY

In [6]:
sql3 = '''
    SELECT * FROM EMPLOYEE
    WHERE SEX = 'M'
    ORDER BY AGE DESC
'''

In [7]:
cursor.execute(sql3)
conn.commit()

result3 = cursor.fetchall()
print(result3)

[('Sharukh', 'Sheik', 25, 'M', 8300.0, 'I am a good man'), ('Vinay', None, 20, 'M', 6000.0, 'I am ajanlekoko')]

### UPDATE TABLE

In [8]:
sql4 = '''
    UPDATE EMPLOYEE SET BIO ='I am no longer ajanlekoko'
    WHERE FIRST_NAME = 'Vinay';
'''

In [9]:
cursor.execute(sql4)
conn.commit()

In [10]:
cursor.execute('''SELECT * FROM EMPLOYEE''')
conn.commit()

result4 = cursor.fetchall()
print(result4)

[('Ramya', 'Rama Priya', 27, 'F', 9000.0, 'I like what I do'), ('Vinay', None, 20, 'M', 6000.0, 'I am no longer ajanlekoko'), ('Sharukh', 'Sheik', 25, 'M', 8300.0, 'I am a good man'), ('Sarmista', 'Sharma', 26, 'F', 10000.0, 'I was made in the moon')]

### DELETE TABLE

In [13]:
sql5 = '''
    DELETE FROM EMPLOYEE
    WHERE AGE < 25
'''

In [14]:
cursor.execute(sql5)
conn.commit()

In [15]:
cursor.execute('''SELECT * FROM EMPLOYEE''')
conn.commit()

result5 = cursor.fetchall()
print(result5)

[('Ramya', 'Rama Priya', 27, 'F', 9000.0, 'I like what I do'), ('Sharukh', 'Sheik', 25, 'M', 8300.0, 'I am a good man'), ('Sarmista', 'Sharma', 26, 'F', 10000.0, 'I was made in the moon')]

### DROP TABLE

In [16]:
cursor.execute("CREATE TABLE STAFF(NAME CHAR(20))")
conn.commit()

In [19]:
cursor.execute("""SELECT name FROM sqlite_master 
    WHERE type='table';""")

conn.commit()

result6 = cursor.fetchall()
print(result6)

[('EMPLOYEE',), ('STAFF',)]

In [20]:
cursor.execute("DROP TABLE STAFF")
conn.commit()

In [21]:
cursor.execute("""SELECT name FROM sqlite_master 
    WHERE type='table';""")

conn.commit()

result7 = cursor.fetchall()
print(result7)

[('EMPLOYEE',)]